@font-face {
    font-family:  'Prata';
    src : url(../font/Prata-Regular.ttf)
 }

 @font-face {
    font-family:  'Work Sans';
    src : url(../font/WorkSans-Regular.ttf)
 }



body {background-image: url(../image/Background\ Image.png);
 background-repeat: no-repeat;
 background-size: 100% 100%;
 
}


@media only screen and (max-width:768px) {
    body {background-image: url(../image/Background\ Image\ \(1\).png) !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        background-attachment: fixed !important;
        
       
       
    }
    .cont_1 {width: 100% !important;}
    .img1 {display: none !important;}
    .img2 {
    display: inline-block !important;
margin-top: 70px !important;}
    .cont_1 {
        position: absolute !important;
         top:60% !important; 
         left:50% !important;
          transform: translate(-50%, -50%) !important;
    }
    .text1 {font-size: 42px !important;
    margin-top:249px !important}
    .text2 {font-size:18px !important;}
    .text3 {width: 100% !important;
  }
    .cont_12 {display: inline-block !important;}
    button {width: 100% !important;
           margin-top:20px !important; 
        margin-left: 0 !important;}
    input {width: 100% !important;}
}
.text1 {
    font-family: 'Prata';
font-style: normal;
font-weight: 400;
font-size: 70px;
line-height: 95px;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.text2 {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 25px;
color: #FFFFFF;
}
.text3 {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 21px;
letter-spacing: -0.01em;

color: #FFFFFF;
}
input {
    padding: 13px 0px 12px 14px;
background: #FFFFFF;
border: 1px solid #DADADA;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(0, 0, 0, 0.3);
outline: none;
}
button {
    padding: 13px;
    border: 1px solid #FFFFFF;
   background-color: transparent;
    font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
margin-left:15px;

}